// ***********************************
// BASE
// ***********************************

body{
	color: $body-text;
	margin: 0;
	padding: 0;
	background: $color-body-bg;
	line-height: $line-height-mobile;
	font-family: $font-family-primary;
	font-size: $font-size-mobile;
	font-size: $line-height-mobile;
	font-weight: $font-weight-body;


}
